<!DOCTYPE html>
<html ng-app="annImg" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="mobile-web-app-capable" content="yes" />

    <script src="./js/Math.uuid.js"></script>
    <script src="./js/common.js"></script>
    <!--script src="http://code.jquery.com/jquery-latest.js"></script-->
    <script src="./js/jquery.min.js"></script>
    <script src="./js/angular.min.js"></script>
    <script src="./js/annImgController.js"></script>
    <link rel="stylesheet" href="./js/angular.treeview/css/angular.treeview.css">
    <script src="./js/angular.treeview/angular.treeview.js"></script>
    <script src="./js/ann.js"></script>
    <script src="./js/custom_filters.js"></script>
    <link rel="stylesheet" href="style.css" type="text/css">
    <link rel="stylesheet" href="./css/jquery-ui.css">
    <script src="./js/jquery-ui.js"></script>
    <script src="./js/jquery.mobile-1.4.5.min.js"></script>


    <!--script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script-->

    <!--link rel="stylesheet" href="./js/angular-ui-tree/dist/test.css"-->
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/style.css">

    <link rel="stylesheet" href="./css/magnify.css">
    <script src="./js/jquery.magnify.js"></script>
    <script src="./js/ab.js"></script>

</head>

<body ng-controller="annImgController" class='container_fluid'>
    <div class='col-12' style='padding:0px;'>
        <div class='row ct-xs-no-rpad' style='margin:20px 0px 0px 0px; width:100%;'>
            <div class='clearfix ct-xs-no-rpad menu ct-md-show col-12 mm-close noshow' style='padding-left:15px;' ng-click='toggleSib($event)' ng-touch='toggleSib($event)'>清單摘要</div>
            <div class='col-xl-2 col-lg-3 ct-md-noshow ct-xs-no-rpad dir_img_tree_wrapper col-12'>
                <div class='scroll' id='dir_img_tree' style="overflow-y:auto;" data-angular-treeview="true" data-tree-id="dirImgTree" data-tree-model="dirImgList" data-node-id="id" data-node-label="name" data-node-comment="comment" data-node-children="children">
                </div>
            </div>
            <div class='col-xl-7 col-lg-8 ct-md-no-padding col-12'>
                <div class='ct-md-show noshow' style='margin:0px; padding:0px;'>
                    <hr style='color:green; border: 1px solid; margin-left:15px; margin-right:15px;' />
                </div>
                <div style='margin: 0 0 0 0px;'>
                    <div style='position:fixed;' ng-show='edit_token_form.$dirty'>注意，本頁內容遭修改且尚未存檔</div>
                    <img id='target_image' ng-src='{{ann.url}}' ng-class="target_image_class" ng-click="toggleTargetImageClass($event)" />
                    <!--img id='shadow' ng-src='{{ann.url}}' style='height:0px; width:100%; position:relative;' /-->
                </div>
                <div id='img_placeholder' style='height:0px;'></div>

                <div class='fs-btn-wrapper ct-md-show noshow' ng-if='!isfullscreen && fs_btn' style='margin:0px; padding:0px;'>
                    <div><button id='fs_btn' ng-click='toggleFullScreen()' style='width:100%;margin:0px;padding:0px;'>切換全螢幕以獲得較好的使用體驗</button></div>
                    <hr style='color:green; border: 1px solid; margin-left:15px; margin-right:15px;' />
                </div>
                <div class='fs-btn-wrapper ct-md-show noshow' ng-if='isfullscreen || !fs_btn' style='margin:0px; padding:0px;'>
                    <hr style='color:green; border: 1px solid; margin-left:15px; margin-right:15px;' />
                </div>

            </div>
            <!-- end of div.css_td-->

            <div class='col-xl-3 col-lg-12 ct-xs-no-rpad col-12' style='padding-left:0px;'>
                <div class='menu ct-md-show col-12  ct-xs-no-rpad mm-close noshow' style='margin-top:0px; padding-left:15px;' ng-click='toggleSib($event)'>導覽搜尋{{"("+ (toSearch||"預設") +" "+ current_image_idx +")"}}</div>
                <div style='margin: 0 0 0 0px; min-width:360px; width:100%' class='row ct-md-noshow'>

                    <div class='col-xl-11 offset-xl-0 offset-lg-0 col-lg-0 ct-not-xl-noshow' ng-repeat='stats in dir track by $index'>
                        <!--label> 目錄 {{$index + 1}} </label-->
                        <div style='display:inline-block'>編號開始 {{stats.start}}</div>
                        <div style='display:inline-block'>編號結束{{stats.end}}</div>
                        <div style='display:inline-block'>照片數 {{stats.counts}}</div>
                    </div>
                    <div class='col-xl-11 offset-xl-0 offset-lg-0 col-lg-0 ct-not-xl-noshow'>
                        <div class='hint' ng-show='(auto_copy_all_tokens && (next_image_burst || prev_image_burst)) || force_auto_copy'>
                            <span class='notice message'>！</span>
                            <span class='notice message hint-text'>若切換到未標記的連拍照片，目前照片的標記將會複製到連拍照片上</span>
                        </div>
                        <span ng-show='next_image_burst || prev_image_burst'><input id='override_auto_copy_checkbox' type='checkbox' name='override_auto_copy' ng-model='auto_copy_all_tokens_override' ng-change='auto_copy_all_tokens = auto_copy_all_tokens_override && (next_image_burst || prev_image_burst)' data-no-text/> 自動複製連拍資料(alt+a) </span>
                        <span ng-hide='next_image_burst || prev_image_burst'><input type='checkbox' disabled/> 自動複製連拍資料(alt+a) </span>
                        <br/>
                        <div class='hint' ng-show='(next_image_burst || prev_image_burst) && force_auto_copy'>
                            <span class='warning message'>！</span>
                            <span class='warning message hint-text'>警告：目前處於強制複製連拍照片標記狀態 ，連拍照片中任何之前的標記都會被覆蓋！<br/>連拍結束後會自動關閉強制複製功能</span>
                        </div>
                        <span ng-show='next_image_burst || prev_image_burst'><input id='force_auto_copy_checkbox' type='checkbox' name='force_auto_copy' ng-model='force_auto_copy' data-no-text/> 強制複製連拍照片狀態(alt+f)</span>
                        <span ng-hide='next_image_burst || prev_image_burst'><input type='checkbox' /> 強制複製連拍照片狀態(alt+f) </span>
                        <br/><span>大寫 M 開啟滑鼠放大鏡</span>
                        <br/>
                    </div>
                    <div class='col-xl-11 offset-xl-0 offset-lg-1 col-lg-2' style='margin-top:1em;'>
                        <button id='copy_prev' ng-click='copyFromPrev()'>複製前一張 (C)</button>
                        <button id='goto_start_of_burst' ng-show='prev_image_burst' ng-click='gotoTerminalOfBurst(-1)'>連拍第一張 (Q)</button>
                        <button ng-hide='prev_image_burst' disabled>連拍第一張 (Q)</button>
                        <br class='ct-md-noshow' />
                        <button id='goto_mid_of_burst' ng-show='next_image_burst || prev_image_burst' ng-click='gotoPercentile(0.5)'>連拍中間張 (W)</button>
                        <button ng-hide='next_image_burst || prev_image_burst' disabled>連拍中間張 (W)</button>
                        <button id='goto_end_of_burst' ng-show='next_image_burst' ng-click='gotoTerminalOfBurst(1)'>連拍最末張 (E)</button>
                        <button ng-hide='next_image_burst' disabled>連拍最末張 (E)</button>
                        <br class='ct-md-noshow' />
                        <button class='main_prev_image' ng-click='switchImage("prev", $event)'>前一張 (P, ←)</button>
                        <button class='main_next_image' ng-click='switchImage("next", $event)'>下一張 (N, →)</button>
                    </div>
                    <div class='col-xl-11 col-lg-4 col-xs-12' style='margin-top:1em;'>
                        <div> 目前顯示第 {{current_image_idx}} 號照片<br/>(J) 跳到第 <input min=0 type=number id='input_goto_image_idx' name='goto_image_idx' ng-model="goto_image_idx" style='width:3em;' /> 號，<button ng-click='selectImage()'> 我跳 </button> </div>
                        <div class='ct-md-noshow'>
                            <div> 連拍判定 (照片先後間隔小於 <input min=0 type=number name='burst-threshold' ng-model="threshold" style='width:3em;' /> 秒) <button ng-click='setThreshold()'>設定新值</button> </div>
                            <div class='notice message' ng-show='prev_image_burst'> 此張照片與 前一張 <span class='text highlight'>是連拍照片</span> </div>
                            <div class='notice message' ng-show='!prev_image_burst'> 此張照片與 前一張 非連拍照片 </div>
                            <div class='notice message' ng-show='next_image_burst'>　　　　　 下一張 <span class='text highlight'>是連拍照片</span> </div>
                            <div class='notice message' ng-show='!next_image_burst'>　　　　　 下一張 非連拍照片 </div>
                            <!--div class='notice message' ng-show='(auto_copy_all_tokens && (next_image_burst || prev_image_burst)) || force_auto_copy'> 若切換到未標記的連拍照片，目前照片的標記將會複製到連拍照片上 </div>
                      <div class='warning message' ng-show='(next_image_burst || prev_image_burst) && force_auto_copy'>警告：目前處於強制複製連拍照片標記狀態 ，連拍照片中任何之前的標記都會被覆蓋！<br/>連拍結束後會自動關閉強制複製功能</div-->
                        </div>
                        <br/>
                        <input class='to_search' ng-model='toSearch' placeholder="搜尋 (/)，例如：山羌" /> <button ng-click='simpleSearch()'>send</button><button ng-click='resetImageList()'>clear</button>
                        <br/>
                    </div>
                    <div class='col-xl-11 col-lg-4 ct-md-noshow' style='margin-top:1em;'>
                        <div>{{subers_txt}}</div>
                        <div id='chatroom' style='background:gray; height:5em; overflow-y:auto; width:90%;'><span>對話最頂層</span></div>
                        <span>({{conn_id || '聊天室未連線'}}): </span><input ng-keydown='send_chatroom_msg_by_enter($event)' class='chat_room_msg' ng-model='chat_room_msg' placeholder="(:) say something here..." /><button ng-click='send_chatroom_msg()'>送出對話</button>
                    </div>
                </div>
            </div>
            <!-- end of div.css_td-->

        </div>
    </div>

    <!-- end of div.css_table-->
    <div class='ct-md-show noshow'>
        <hr style='color:green; border: 1px solid; margin-left:15px; margin-right:15px;' />
    </div>

    <div class='ct-not-xl-data' style='margin-top:0px;'>
        <!--label style='line-height:2em;'>資料夾 {{dir_idx[current_image_dir_idx]}} 範疇的詮釋資料</label-->

        <form name='edit_token_form'>
            <div class='row ct-md-pad'>
                <div id='edit_section' class='clearfix menu ct-md-show col-md-12 ct-xs-no-rpad mm-close noshow' style='margin-top:0px; padding-left:15px;' ng-click='toggleSib($event)'>編輯資料</div>
                <div class='col-xl-7 offset-xl-2 col-lg-10 offset-lg-1'>
                    <div style='font-weight:bold;margin-top:5px;' ng-repeat='(ti, edit_token) in ann.tokens track by $index'>
                        <!--table style='width:100%;'-->
                        <div class='row'>
                            <div class='col-lg-12 ct-xs-no-rpad'>
                                <button ng-click='removeToken($index)' tabindex=-1>-</button><label style='color:silver;' class='ct-md-noshow'>{{edit_token.token_id}}</label>
                            </div>
                            <!--tr>
                                        <td style='width:100px;' ng-repeat='(di, dum) in standard_data_key'>
                                            <span style='color:grey;'>{{camelShorten(edit_token.data[di].label)}}</span>
                                        </td>
                                    </tr-->
                            <div class='col-lg col-md-6 ct-col-userinput-bp user-input-wrapper ct-xs-no-rpad' ng-repeat='(di, dum) in standard_data_key'>
                                <input name='data-value-{{ti}}-{{di}}' class='data-value user-input data_row_{{ti}} data_col_{{di}} data_{{ti}}_{{di}} {{dum}}' ng-model='edit_token.data[di].value' ng-change='autoValues(di, edit_token)' ng-blur='cellBlurred($event)' autocomplete="off"
                                    ng-keydown='autoValues(di, edit_token, $event)' ng-focus='autoValues(di, edit_token)' placeholder="{{edit_token.data[di].label}}">
                                <div class='scroll token-data' style='color:floralwhite; border:solid 1px white; background-color:black;position:absolute;z-index:1000;height:200px;overflow-y:auto;overflow-x:hidden' ng-show='showSelectionBox[edit_token.token_id + "_" + edit_token.data[di].key + "-di-" + di]'>
                                    <span tabindex=-1 ng-repeat="(elmId, v) in autoRes[edit_token.data[di].key] | v_filter : di : showSelectionBox[edit_token.token_id + '_' + edit_token.data[di].key + '-di-' + di] : this : 1" ng-mouseenter='elmSearchME(edit_token.token_id + "_" + edit_token.data[di].key + "-elmId-" + elmId)'
                                        ng-mouseleave='elmSearchML(edit_token.token_id + "_" + edit_token.data[di].key + "-elmId-" + elmId)' class='elm_search' ng-click='autoValueClicked(di, edit_token, v)'>
                                <!--tabindex for tab looping in values--><span tabindex=-1 class='elm_search_option' id='{{"opt_" + edit_token.token_id + "_" + edit_token.data[di].key + "_elmId_" + elmId}}' ng-style='elmSearchStyleInd[edit_token.token_id + "_" + edit_token.data[di].key + "-elmId-" + elmId]||elmSearchStyle' ng-bind-html="v.matched" ng-keydown='optsRotation($event, edit_token.token_id + "_" + edit_token.data[di].key + "-di-" + di, di, edit_token, v)'>
                                </span>
                                    <br/>
                                    </span>
                                </div>
                            </div>
                            <!--/table-->
                        </div>
                        <!-- end of edit token -->
                    </div>
                    <button class='add_new_token' ng-click='addToken()'>+</button> <button id='save-tokens' ng-click='saveAnnotation()'>Save (S)</button> <button class='flood_fill_burst' ng-click='floodFillBurst()'>填滿連拍 (F)</button>
                    <div class='ct-xl-noshow col-12 ct-xs-no-rpad'>
                        <hr style='color:green; border: 1px solid;' />
                    </div>
                </div>

                <!--div class='col ct-md-show noshow'>
                    <hr style='color:green; border: 1px solid;' />
                </div-->

                <div class='clearfix ct-xs-no-rpad menu ct-md-show col-md-12 mm-close noshow' style='padding-left:15px;' ng-click='toggleSib($event)' ng-touch='toggleSib($event)'>Metadata</div>
                <div class='col-xl-3 offset-xl-9 col-lg-10 offset-lg-1 ct-not-xl-meta ct-xs-no-rpad ct-md-noshow' style='margin-bottom:2em;'>
                    <div class='row' style='padding-left:15px;'>
                        <div class='col-xl-6 col-lg-3 ct-xs-no-rpad'>
                            <button ng-click='floodFillDirMeta()'>Metadata 自動填滿</button>
                        </div>
                        <div class='col-xl-6 col-lg-3 metadata-wrapper ct-xs-no-rpad'>
                            <input class='metadata first' name='project_name' ng-model='ann.meta.project_name' placeholder='計畫名稱' />
                        </div>
                        <div class='col-xl-6 col-lg-3 metadata-wrapper ct-xs-no-rpad'>
                            <input class='metadata' name='date' ng-model='ann.date' placeholder='日期' />
                        </div>
                        <div class='col-xl-6 col-lg-3 metadata-wrapper ct-xs-no-rpad'>
                            <input class='metadata' name='time' ng-model='ann.time' placeholder='時間' />
                        </div>
                        <div class='col-xl-6 col-lg-3 metadata-wrapper ct-xs-no-rpad'>
                            <input class='metadata' name='spatial_context_1' ng-model='ann.meta.spatial_context_1' placeholder='空間尺度1' />
                        </div>
                        <div class='col-xl-6 col-lg-3 metadata-wrapper ct-xs-no-rpad'>
                            <input class='metadata' name='spatial_context_2' ng-model='ann.meta.spatial_context_2' placeholder='空間尺度2' />
                        </div>
                        <div class='col-xl-6 col-lg-3 metadata-wrapper ct-xs-no-rpad'>
                            <input class='metadata' name='spatial_context_3' ng-model='ann.meta.spatial_context_3' placeholder='空間尺度3' />
                        </div>
                        <div class='col-xl-6 col-lg-3 metadata-wrapper ct-xs-no-rpad'>
                            <input class='metadata' name='project_scope_camera_id' ng-model='ann.meta.project_scope_camera_id' placeholder='相機編號' />
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>

    <div class='ct-md-show noshow'>
        <hr style='color:green; border: 1px solid; margin-left:15px; margin-right:15px;' />
    </div>

    <div class='clearfix ct-xs-no-rpad menu ct-md-show col-md-12 mm-close noshow' style='padding-left:15px;' ng-click='toggleSib($event)' ng-touch='toggleSib($event)'>聊天室</div>
    <div class='col noshow' style='margin-top:1em;'>
        <div>{{subers_txt}}</div>
        <div id='chatroom_rwd' style='background:gray; height:5em; overflow-y:auto; width:90%;'><span>對話最頂層</span></div>
        <span>({{conn_id || '聊天室未連線'}}): </span><input ng-keydown='send_chatroom_msg_by_enter($event)' class='chat_room_msg' ng-model='chat_room_msg' placeholder="(:) say something here..." /><button ng-click='send_chatroom_msg()'>送出對話</button>
    </div>

    <div class='ct-md-show noshow'>
        <hr style='color:green; border: 1px solid; margin-left:15px; margin-right:15px;' />
    </div>


    <div class='container_fluid ct-not-xl-noshow'>
        <label ng-click='show_debug_info = !show_debug_info' for='debug_info' style='cursor:pointer;'>TOGGLE DEBUG INFO</label><br/>
        <div class='d-flex'>
            <textarea id='debug_info' ng-show='show_debug_info' disabled style='width:100%; height: 400px;'>{{formatJSON(ann)}}</textarea>
            <!--iframe id='carrier_frame noshow'></iframe-->
            <!--iframe id='carrier_frame' width="800" height="600"></iframe-->
        </div>
    </div>
</body>

</html>